*{
    padding: 0 ;
    margin: 0 auto;
}
body{
    background-image: url('/images/fondo77.jpeg');
}
.logo{
    
}
.navegador{
background-color: #0A022B;
}
/* footer-------- */}


.carrousel{
    width: 100%;
}
.card-footer{
margin-top: 20px;
background-color: #0A022B;
border: none;
}

footer p{
    text-align: justify;
    color: wheat;
}
footer h3{
    color: wheat;
}
ul.redes li{
    margin: 2px;
    display: inline-block;
}
ul.redes li a{
    color: rgba(235, 5, 5, 0.979);
    font-size: 36px;
}
.avatar{
    border: solid 8px darkblue;
    border-radius: 50%;
    float: left;
    height: 100px;
    width: 100px;
}
.product{
    flex-wrap: wrap;
    background-color: skyblue;
    border-radius: 10px;

}

.servicio{
    color: #fff;
}
/* carrito---------- */
.table-cart
{
background-color:rgb(233, 233, 233);
border-radius: 1em;
border-bottom: 30px;
padding: 1em;

}
.table-cart img
{
    width: 50px;
}
.btn-danger {
    color: #fff;
    background-color: #E74C3C;
    border-color: #E74C3C;
    margin-bottom: 12px;
    
}
/* products */
#products {
    position: relative;
    max-width: 100%;
    width: 100%;
    }
    img {
    width: 100%;
    max-width: 100%;
    height: auto;
    }
    .white-panel {
    position: absolute;
    background: white;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    padding: 10px;
    }
    .white-panel h1 {
    font-size: 1em;
    }
    .white-panel h1 a {
    color: #A92733;
    }
    .white-panel:hover {
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    margin-top: -5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    }
    /*barra de navegacion */
    a {
        /* color: rgb(247, 4, 4); */
        text-decoration: none;
        background-color: transparent;
    }